body {
  background-image:url("https://i.ytimg.com/vi/vxNnUU3eRD0/maxresdefault.jpg");
  text: white;
}

#game {
  /*color: white;*/
}

#kimtrump {
  border-radius: 100px;
  position: absolute;
  margin-left: 170px;
  margin-top: 50px;
}
